<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="F001_LogPath" value="D:\Tgw\LogFiles\PlcLogsF01"/>
    <add key="F002_LogPath" value="D:\Tgw\LogFiles\PlcLogsF02"/>
	<add key="F003_LogPath" value="D:\Tgw\LogFiles\PlcLogsF03"/>
	<add key="W001_LogPath" value="D:\Tgw\LogFiles\PlcLogsW01"/>
	<add key="W002_LogPath" value="D:\Tgw\LogFiles\PlcLogsW02"/>
	<add key="W003_LogPath" value="D:\Tgw\LogFiles\PlcLogsW03"/>
	<add key="W004_LogPath" value="D:\Tgw\LogFiles\PlcLogsW04"/>
    <add key="PLC01" value="F001;10.39.201.2;2101" />
    <add key="PLC02" value="F002;10.39.201.3;2101" />
	<add key="PLC03" value="F003;10.39.201.4;2101" />
	<add key="PLCW01" value="W001;10.39.202.2;2101" />
	<add key="PLCW02" value="W002;10.39.202.3;2101" />
	<add key="PLCW03" value="W001;10.39.202.4;2101" />
	<add key="PLCW04" value="W001;10.39.202.5;2101" />
  </appSettings>
</configuration>